[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
checker = "python checker.py"
